<h1>Contact us</h1>
<div class="columns eight poem alpha">
	<p>
	From the beginning there was no misgiving, <br>
	when many a bank gave us the shank, <br>
	that this and that was meant to be, <br>
	especially with brothers numbering 3, <br>
	the whole family put chips on the table… <br>
	believing the promise surely able; <br>
	And now some 20 years we’ve massed, <br>
	reflections of friendships come and passed…  <br>
	the one true memory never fades, <br>
	sentiments, perhaps, from how we’re raised, <br>
	when the  pressure’s on, and you’re about to quit her… <br>
	Just remember: Life’s too short to be bitter!™
	</p>
			 <author>J.B.J. O’Rain</author>
</div>
<div class="columns eight contact omega">
<p>
	Comments, questions, or suggestions? Let us know! Catering options are available upon request.
</p>
<ul>
	<li><strong>Email:</strong> </li>
	<li><strong>Address:</strong> 1894 Main Street, San Diego, CA 92113</li>
	<li><strong>Phone:</strong> (619) 546-6314</li>
</ul>
</div>