<p>Let us bring our signature ESPRESSO BAR experience to your next special event…featuring the best in quality recipes and custom crafted products, from
our hand-tumbled, gourmet teas and chocolate sauces to our original espresso creations, we deliver the complete coffee and tea hospitality package—100% satisfaction guaranteed!</p>
 
 <p>
An annual favorite at the famous CES (Consumer Electronic Show) Convention in Las Vegas every January, our complete coffee/tea bar experience has become a part of the Qualcomm exhibit for almost a decade. If you come to the show—you’ll hear about us!</p>
<p>
If your event is bigger and requires a building accommodation—no problem! Our 1894 Main Street location is a San Diego favorite, garnering praise from local architectural schools for both its brick structure and original wood roofing, dating back to the early 1930’s!This facility provides a one-of-a-kind experience with both a fully licensed kitchen and an authentic, 1870’s bar with connections to the original Jessie James—you must see it!!</p>
 <p>
Ryan Bros. Coffee is a family operated business that cares about your next event…we want you to have the very best, most memorable experience possible!
Having done events all over the country…we can with confidence the quality you expect and deserve!</p>
 <p>
Call our Main Street facility and we’ll be glad to discuss the possibilities…619-546-6314. Ask for Tom or Harry and we’ll be sure to get back to you.</p>
 <p>
Hope to hear from you soon!</p>
 <p>
Sincerely,
The Ryans</p>