<h1>Locations</h1>
<p>Being family run, we consider each cafe to be like our home, and every customer a member of the family. With that in mind, we aim to have an open door and a welcome atmosphere where anyone can come and feel like they belong.</p>
<p>At each of our locations, we have open dining areas and complimentary wifi. While still 100% Ryan Bros, each cafe has their own unique character. So next time you're nearby another shop you haven't checked out, stop by, grab a drink, and maybe a bite to eat. You might find a pleasant twist to a familiar place.</p>

<div class="location columns fifteen">
	<h3>Main Street</h3>
	<hr>
	<div class="location-info columns alpha seven">
		<ul class="location-properties">
			<li class="location-description">
				<p>This is where the magic happens. Here we roast all of our blends, all in house, while offering a friendly, spacious atmousphere if you want to just sit and enjoy a cup of joe while reading the paper or meet with your book club. Aside from our dining area, we have a secluded haven populated with plush couches with plenty of books to parous through. </p>
				<p>
				Next time you visit, feel free to ask any of our staff about the history behind the building and the bar (hint: you may hear about Jesse James!).</p>
			</li>
			<li><strong>Contact</strong></li>
			<li>
				<ul>
					<li><strong>Address:</strong> 1894 Main Street, San Diego, CA 92113</li>
					<li><strong>Phone:</strong> (619) 546-6314</li>
				</ul>
			</li>
			<li><strong>Directions</strong></li>
			<li>From Interstate 5, exit Cesar Chavez Parkway, and turn west (toward the ocean). In a couple blocks, you will find us at the corner of Cesar Chavez Parkway and Main St. Parking can be located across the street by the Mercado.</li>
		</ul>
	</div>
	<div class="location-image-container columns omega seven"></div>
</div>
<div class="location columns fifteen">
	<h3>San Diego Airport</h3>
	<hr>
	<div class="location-info columns alpha seven">
		<ul class="location-properties">
			<li class="location-description">
				<p>Our newest location at the airport is the perfect place to grab some refreshments before jumping on a plane or getting that pick-me-up after a long flight.</p>
			</li>
			<li><strong>Contact</strong></li>
			<li>
				<ul>
					<li><strong>Address:</strong> Terminal 1, San Diego Airport (SAN)</li>
					<li><strong>Phone:</strong> N/A</li>
				</ul>
			</li>
			<li><strong>Directions</strong></li>
			<li>We are located in Terminal One, near Alaska Airlines</li>
		</ul>
	</div>
	<div class="location-image-container columns omega seven"></div>
</div>
<div class="location columns fifteen">
	<h3>Temecula</h3>
	<hr>
	<div class="location-info columns alpha seven">
		<ul class="location-properties">
			<li class="location-description">
				Our first location to offer wine side by side with our coffees, the Temecula location is a complete wine and bistro. So if you're not much of a coffee drinker and enjoy a glass of wine, bring a friend and enjoy a variety of beverage options, both with and without alcohol.
			</li>
			<li><strong>Contact</strong></li>
			<li>
				<ul>
					<li><strong>Address:</strong> 40573 Margarita Rd, Temecula, CA 92591</li>
					<li><strong>Phone:</strong> (951) 719-3100</li>
				</ul>
			</li>
			<li><strong>Directions</strong></li>
			<li>From the 15, exit on Winchester Road and head east. Turn right on Margarita Rd. When you pass Verdes Road, you will see a Chick-fil-A on your right; turn into the driveway just past it and we will be on your left.</li>
		</ul>
	</div>
	<div class="location-image-container columns omega seven"></div>
</div>
<div class="location columns fifteen">
	<h3>San Marcos</h3>
	<hr>
	<div class="location-info columns alpha seven">
		<ul class="location-properties">
			<li class="location-description">
				At our San Marcos location, pastry is king! Here is where we bake all of our fresh pastries to send out to our stores and carts across San Diego. Here we always have something new to try, so feel free to ask us what's baking!
			</li>
			<li><strong>Contact</strong></li>
			<li>
				<ul class="contact-info">
					<li><strong>Address:</strong> 133 N Twin Oaks Valley Rd, San Marcos, CA 92069</li>
					<li><strong>Phone:</strong> (760) 736-8400</li>
				</ul>
			</li>
			<li><strong>Directions</strong></li>
			<li>Take the N Twin Oaks exit off of the 78. Turn right on Via El Prado into a shopping center. We are located on the northern end of the parking lot.</li>
		</ul>
	</div>
	<div class="location-image-container columns omega seven"></div>
</div>