<div class="columns eight omega">
	<div>
		<h2><%= @product.name %></h2>
		<%= render :partial => 'spree/shared/social_media_share' %>
		<hr>
	</div>
	<%= render :partial => 'properties' %>
	<%=  render :partial => 'cart_form' %>
</div>
