<div class="columns alpha four properties-stuff">
  <ul class="product-properties">
     <% @product_properties.each do |product_property| %>
        <li class="property">
          <div class="property-presentation"><strong><%= product_property.property.presentation %></strong></div>
          <div class="property-value"><%= product_property.value %></div>
        </li>
      <% end %>
   </ul>
</div>