<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
  	<p>© 2014 Ryan Bros Coffee, Inc. All Rights Reserved. </p>
    <p><%= 'Designed by '  %> <%= link_to 'PJ Web Consulting', 'http://pjwebconsulting.com/' %></p>
  </div>
  <div id="footer-right" class="columns omega four" data-hook>
  	<h3>Navigation</h3>
  </div>
</footer>
