<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
  </div>
  <div id="footer-right" class="columns omega four" data-hook>
  	<h5>Navigation</h5>
  </div>
  <div>
  	<p>© 2014 Ryan Bros Coffee, Inc. All Rights Reserved. </p>
    <p><%= 'Designed by '  %> <%= link_to 'Patrick McCandless', 'http://pjwebconsulting.com/' %></p></div>
</footer>
