<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    <li id="store-link"> <%= link_to "Store", spree.products_path %></li>

  </ul>
</nav>
