<nav id="top-nav-bar" class="columns thirteen">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="social-media-buttons" data-hook>
      <%= render :partial => 'spree/shared/social_media_buttons' %>
    </li>
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
    <li id="search-bar" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>
