<div class="rbc-social-media">
	<p>Follow us on: </p>
	<a href="http://www.facebook.com/RyanBrosCoffeeMainSt"><img src="http://static.viewbook.com/images/social_icons/facebook_16.png"></a>
	<a href="http://www.twitter.com/RyanBrosCoffee"><img src="http://static.viewbook.com/images/social_icons/twitter_16.png"></a>
</div>
