<p class="quote"> “Life is too short to be bitter”™</p>
<h6>Years of honing the craft of great Micro-Roasting has led to the discovery of slow-roasting as an art form; knowing what you have to work with begins with years of experiencing things done well, and we’ve been very fortunate to have made good choices along the way! Our slogan “Life is too short to be bitter” ™ serves as a guide and reminder of the excellence to be strived for everyday—in ALL facets of our production and daily interaction!
</h6>
<div class="buffer"></div>
