<div class="columns sixteen">
	<%= render :partial => 'spree/shared/slider' %>
</div>
<div class="columns eight alpha">
	<div class="columns eight">Featured blends</div>
	<div class="columns eight">New Products</div>
</div>
<div class="columns eight omega">Our Story</div>